<div class="panel panel-default" ng-repeat="(method,operation) in $ctrl.path.path track by $index">
  <div class="panel-heading"><h3 class="panel-title">
    <span class="label label-default">{{method}}</span> {{$ctrl.path.route}} <span class="pull-right">{{operation.summary}}</span>
  </h3></div>
  <div class="panel-body">
    <h4>Implementation Notes</h4>
    <div ng-bind-html="operation.description | parseMD"></div>
    <h4 ng-if="operation.parameters.length > 0">Parameters</h4>
    <swank-parameters ng-if="operation.parameters.length > 0" parameters="operation.parameters">
    </swank-parameters>
    <h4>Response Messages</h4>
    <swank-responses responses="operation.responses">
    </swank-responses>
  </div>
</div>